config SHIELD_IO_LEFT
	def_bool $(shields_list_contains,IO3_left)
config SHIELD_IO_RIGHT
	def_bool $(shields_list_contains,IO3_right)
config SHIELD_IO_DONGLE
	def_bool $(shields_list_contains,IO3_dongle)
